*.qmlc
*.jsc
*.jsc.*
*.qmlc.*
*.cflags
*.config
*.creator
*.creator.*
*.cxxflags
*.files
*.includes
*.code-workspace
.vs/
theme.sync-conflict-20210919-184226-VBAVGBA.qml
layer_grid/SoftwareScreen.sync-conflict-20210919-184227-VBAVGBA.qml
layer_help/ControllerHelp.sync-conflict-20210919-184227-VBAVGBA.qml
layer_help/ControllerHelpButton.sync-conflict-20210919-184226-VBAVGBA.qml
